<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
  <title>AIR CANVAS | HCI Project</title>
</head>

<body>
  <br>
  <center>
    <h1><b>Welcome to Air Canvas!</b></h1>
  <a class="btn btn-primary mr-1" href="{{url_for('video_feed')}}" role="button">START</a>
  <a class="btn btn-primary" href="{{url_for('index')}}" role="button">BACK</a>
 </center>